body {
  font-family: 'Work Sans', sans-serif;
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;

}

.mybutton {
	background-color: #de3636;
	color:white;
	text-decoration: none;


}

.cover-heading {

font-size: 500%;
margin-bottom: 0;
}


@media (max-width: 768px) {
  .cover-heading {
    font-size: 400%;
  }
}

h2 {

	margin-top:0;
}

.btn {
	position:relative;
	top: 30px;
	text-transform: uppercase;
}

footer  {
	position:absolute;
	bottom: 10px;
	width:100%; 
	font-size: 75%;  
}

@media (max-height: 500px) {
  footer {
    visibility: hidden;
  }
}